{
  "openapi": "3.0.0",
  "info": {
    "title": "Splitit.OnBoarding.Api.V2",
    "description": "Splitit's Onboarding API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://onboarding-v2.sandbox.splitit.com"
    }
  ],
  "tags": [
    {
      "name": "Data"
    },
    {
      "name": "Merchants"
    }
  ],
  "paths": {
    "/api/data/get-countries": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "Data_getCountries",
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/get-currencies": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "Data_getCurrencies",
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/get-processors": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "Data_getProcessors",
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/get-verticals": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "Data_getVerticals",
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantVerticalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/status-legend": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "Data_statusLegend",
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusLegendResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchants/get": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "operationId": "Merchants_get",
        "parameters": [
          {
            "name": "NumberOfRowsInPage",
            "in": "query",
            "required": true,
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "x-nullable": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LegalName",
            "in": "query",
            "x-nullable": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchants/get-details": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "operationId": "Merchants_getDetails",
        "parameters": [
          {
            "name": "merchantTempId",
            "in": "query",
            "required": true,
            "x-nullable": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchants/create": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "operationId": "Merchants_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRequest"
              }
            }
          },
          "required": true,
          "x-nullable": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchants/create/developer": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "operationId": "Merchants_createDeveloper",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeveloperRequest"
              }
            }
          },
          "required": true,
          "x-nullable": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "x-nullable": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfOnBoardingErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.sandbox.splitit.com/connect/token",
            "scopes": {
              "onboarding.api.v2": "onboarding.api.v2"
            }
          }
        }
      }
    },
    "schemas": {
      "CountriesResponse": {
        "type": "object",
        "required": [
          "countries"
        ],
        "properties": {
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryResponse"
            }
          }
        }
      },
      "CountryResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "isoA2",
          "isoA3",
          "isoNumber"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isoA2": {
            "type": "string"
          },
          "isoA3": {
            "type": "string"
          },
          "isoNumber": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SelfOnBoardingErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "integer",
            "format": "int32"
          },
          "paramName": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "CurrenciesResponse": {
        "type": "object",
        "required": [
          "currencies"
        ],
        "properties": {
          "currencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrencyResponse"
            }
          }
        }
      },
      "CurrencyResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "isoNumber": {
            "type": "string"
          }
        }
      },
      "ProcessorsResponse": {
        "type": "object",
        "required": [
          "processors"
        ],
        "properties": {
          "processors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessorResponse"
            }
          }
        }
      },
      "ProcessorResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "processorAuthenticationParametersRequest"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "processorAuthenticationParametersRequest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessorAuthenticationParametersRequest"
            }
          }
        }
      },
      "ProcessorAuthenticationParametersRequest": {
        "type": "object",
        "required": [
          "key"
        ],
        "properties": {
          "key": {
            "type": "string"
          }
        }
      },
      "MerchantVerticalsResponse": {
        "type": "object",
        "required": [
          "merchantVerticals"
        ],
        "properties": {
          "merchantVerticals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MerchantVerticalResponse"
            }
          }
        }
      },
      "MerchantVerticalResponse": {
        "type": "object",
        "required": [
          "verticalDisplayName",
          "verticalSplititName",
          "subCategories"
        ],
        "properties": {
          "verticalDisplayName": {
            "type": "string"
          },
          "verticalSplititName": {
            "type": "string"
          },
          "subCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EnumDTO": {
        "type": "object",
        "required": [
          "key",
          "name"
        ],
        "properties": {
          "key": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "GetMerchantsResponse": {
        "type": "object",
        "required": [
          "merchants"
        ],
        "properties": {
          "merchants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetMerchantResponse"
            }
          }
        }
      },
      "GetMerchantResponse": {
        "type": "object",
        "required": [
          "publicName",
          "legalName",
          "phone",
          "country",
          "annualSales",
          "status",
          "merchantTempId"
        ],
        "properties": {
          "publicName": {
            "type": "string"
          },
          "legalName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "annualSales": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "merchantTempId": {
            "type": "string"
          }
        }
      },
      "GetMerchantDetailsResponse": {
        "type": "object",
        "required": [
          "publicName",
          "legalName",
          "phoneNumber",
          "merchantTempId",
          "email",
          "merchantStatus"
        ],
        "properties": {
          "publicName": {
            "type": "string"
          },
          "legalName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "merchantTempId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "merchantStatus": {
            "type": "string"
          }
        }
      },
      "CreateMerchantResponse": {
        "type": "object",
        "required": [
          "merchantTempId",
          "merchantStatus",
          "responseHeader"
        ],
        "properties": {
          "merchantTempId": {
            "type": "string"
          },
          "merchantStatus": {
            "type": "string"
          },
          "responseHeader": {
            "$ref": "#/components/schemas/ResponseHeader"
          }
        }
      },
      "ResponseHeader": {
        "type": "object",
        "required": [
          "succeeded"
        ],
        "properties": {
          "succeeded": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "additionalInfo": {
            "type": "string"
          }
        }
      },
      "CreateMerchantRequest": {
        "type": "object",
        "required": [
          "publicName",
          "email",
          "phoneNumber",
          "countryIso2",
          "legalName",
          "currencyCode",
          "vertical"
        ],
        "properties": {
          "publicName": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "minLength": 1
          },
          "phoneNumber": {
            "type": "string",
            "minLength": 1
          },
          "countryIso2": {
            "type": "string",
            "minLength": 1
          },
          "legalName": {
            "type": "string",
            "minLength": 1
          },
          "currencyCode": {
            "type": "string",
            "minLength": 1
          },
          "vertical": {
            "type": "string",
            "minLength": 1
          },
          "tier": {
            "type": "string"
          },
          "businessStreetAddress": {
            "type": "string"
          },
          "businessCity": {
            "type": "string"
          },
          "businessPostalCode": {
            "type": "string"
          },
          "businessCountry": {
            "type": "string"
          },
          "businessState": {
            "type": "string"
          },
          "subVertical": {
            "type": "string"
          },
          "nameOnBankAccount": {
            "type": "string"
          },
          "incorporationCountry": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "taxIdNumber": {
            "type": "string"
          },
          "totalAnnualSales": {
            "type": "string"
          },
          "platformName": {
            "type": "string"
          }
        }
      },
      "CreateDeveloperRequest": {
        "type": "object",
        "required": [
          "fullName",
          "email",
          "companyName",
          "termsAndConditions",
          "countryCode",
          "fullCountryName",
          "requestHeader"
        ],
        "properties": {
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "termsAndConditions": {
            "type": "boolean"
          },
          "countryCode": {
            "type": "string"
          },
          "fullCountryName": {
            "type": "string"
          },
          "requestHeader": {
            "$ref": "#/components/schemas/RequestHeaderSlim"
          }
        }
      },
      "RequestHeaderSlim": {
        "type": "object",
        "required": [
          "sessionId"
        ],
        "properties": {
          "sessionId": {
            "type": "string"
          }
        }
      },
      "StatusLegendResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EnumDTO"
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
      ]
    }
  ],
  "x-generator": "NSwag v13.18.2.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))"
}